UnityTestPilotRemote/obj/
UnityTestPilotRemote.Tests/bin/
UnityTestPilotRemote.Tests/obj/
UnityTestPilotRemote.Common/obj/
UnityTestPilotRemote.Common/bin/
UnityTestPilotRemote.Tests/Agent/
UnityTestPilotRemote.Client/obj/
UnityTestPilotRemote.Client/bin/
UnityTestPilotRemote.Client/.idea/
UnityTestPilotRemote.Client/AIR.UnityTestPilotRemote.Client.*
